body {
    background: radial-gradient(circle, rgba(140, 148, 240, 1) 0%, rgba(62, 118, 255, 1) 55%, rgba(20, 119, 236, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    padding: 20px 20px;
    background-color: #17181A;
    height: 500px;
    width: 260px;
    border-radius: 39px;
}

.result-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    
}

span {
    padding-right: 20px;
}

.text span {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #818181;
    margin-bottom: 10px;
}

.result span {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: white;

}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 25%);
   

}

.buttons button {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    background-color: #303136;
    color: #29A8FF;
    border-radius: 16px;
    border: none;
    width: 50px;
    height: 40px;
    margin: 5px 5px;
}


.buttons button:active {
    animation: buttonScale 0.1s ease-out;
    /* Animation name, duration, and timing function */
    transform: scale(0.8);
}

@keyframes buttonScale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}

#equal {
    grid-row: span 2;
    height: 90px;
    margin-top: -45px;
    background-color: #1991FF;
    color:#B2DAFF;
}


#zero {
    grid-column: span 2;
    width: 100px;
}

#e,
#pi,
#sin,
#square-root {
    font-size: 17px;
    border-radius: 24px;
}

#ac,
#delete {
    background-color: #606060;
    color: #A0A1A2;
}

#divide,
#multi,
#minus,
#plus {
    background-color: #005DB2;
    color: #339DFF;
}

#multi {
    padding-top: 7px;
}

#delete svg {
    padding-top: 5px;
}
